.mainSection {
    width: 100vw;
    height: calc(100vh - 8rem);
    text-align: center;
    position: absolute;
    top: 8rem;
    h1 {
        font-family: $audiowide;
        font-size: 5rem;
        line-height: 6rem;
        color: white;
        box-sizing: border-box;
        padding: 12.5% 20% 7.5% 0;
        @-webkit-keyframes fadein {
            from {opacity: 0;}
            to {opacity: 1;}
        }
        @-moz-keyframes fadein {
            from {opacity: 0;}
            to {opacity: 1;}
        }
        @keyframes fadein {
            from {opacity: 0;}
            to {opacity: 1;}
        }
        animation: fadein 3s ease-in;
    }
    h3 {
        font-family: $audiowide;
        font-size: 3.5rem;
        line-height:4.5rem;
        color: white;
        box-sizing: border-box;
        padding-left: 20%;
        @-webkit-keyframes fadein {
            from { opacity: 0; }
            to { opacity: 1; }
        }
        
        @-moz-keyframes fadein {
            from { opacity: 0; }
            to { opacity: 1; }
        }
        
        @keyframes fadein {
            from { opacity: 0; }
            to { opacity: 1; }
        }
        animation: fadein 3s ease-in;
    };
    .wave {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 50vh;
        height: 50vh;
        background-image: url('../../assets/wave.gif');
        background-position: center;
        background-size: cover;

    };
    .snot {
        width: 85vh;
        height: 85vh;
        background-image: url('../../assets/snot.gif');
        background-size: cover;
        transform: rotate(135deg);
        position: absolute;
        right: -30vh;
        bottom: -30vh;
    }
}