.technologies {
    @include info;
    font-size: 4rem;
    color: white;
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        opacity: 0;
        .fa-times-circle {
            position: absolute;
            font-size: 2rem;
            top: 2rem;
            right: 2rem;
            cursor: pointer;
        }
        h2 {
            display: inline-block;
            font-weight: 700;
            margin-bottom: 10rem;
        }
        span {
            width: 90%;
            display: flex;
            justify-content: space-evenly;
        }
    }
    .visible {
        opacity: 1;
        transition-delay: 1s;
        transition-duration: .5s
    }
}
.active {
    height: 80%;
    width: 80%;
    transition: width 1.5s, height 1.5s;
}